
<div class="carts">
  <div class="cart">
    <div *ngFor="let product of products" class="border">
      <h1> {{product.title}} </h1>
      <img [src]="product.imgLink" alt="">
       <div class="price">
          <div class="discount">
            <h2>{{product.price}}TK</h2>
            <del>{{product.discount}}TK</del>
          </div>


          <button (click)="addToCart(product._id)" class="icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>

          </div>
    </div>
  </div>
</div>

