.carts {
  padding: 3rem;
  .cart
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    .border {
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .discount h2, del{
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        i {
          font-size: 2rem;
        }

      }


  }

}

.carts:hover button{
  display: inline-block;
  padding: 1rem;
  border-radius: 10rem;
  background: #fcd804;
}




