.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr;
  gap: 3rem;
  background: #fcd804;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  align-items: center;
}

// Utility
a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Nav Left Start
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60%;
}

.brand i {
  font-size: 2rem;
}

// Nav Left End

// Nav Middle Start

.nav-middle {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  select,
  input,
  button {
    padding: 1rem 2rem;
  }
  select:focus,
  input:focus,
  button:focus {
    outline: none;
  }
}

.search-btn {
  background: #333;
  color: #fff;
}

.border-none {
  border: none;
}

.radius-left {
  border-radius: 5rem 0 0 5rem;
}
.radius-right {
  border-radius: 0 5rem 5rem 0;
}

// Nav Middle End

// Nav right Start
.nav-right {
  .nav-icon ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;

    li a i {
      font-size: 2rem;
      color: #333;
      position: relative;

      span {
        position: absolute;
        bottom: 1.5rem;
        small {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.btn-info-right {
  background: #333;
  border-radius: 5rem;
  width: 100%;
  padding: 1rem 2rem;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li:not(:last-child) {
      border-right: 1px solid #fff;
      padding-right: 2rem;
    }
    li a {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

.hidden-icon {
  display: none;
}

// Nav right end

// Hidden Icon

@media screen and (max-width: 1400px) {
  .btn-info-right ul li a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .btn-info-right {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .nav-right {
    display: none;
  }
  .hidden-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li a {
      font-size: 2rem;
    }
  }
}
