<footer>
  <!-- Newsletter Start -->
  <div class="newsletter">
    <div class="sign-up-content">
      <div>
        <i class="fa-solid fa-paper-plane"></i>
        <h2>Sign up to Newsletter</h2>
      </div>
      <p>
        ..and receive <span class="bold">$20 coupon for first shopping</span>
      </p>
    </div>
    <div class="categorys-search">
      <input
        id="searchInput"
        class="border-none"
        type="text"
        placeholder="Search for Product...."
        name="searchTerm"
        autocomplete="off"
        autofocus="off"
      />
      <button class="border-none radius-right search-btn">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <!-- Newsletter End -->

  <!-- Footer Content Start -->
  <section>
    <div class="footer-content">
      <div class="content-box">
        <h1>
          Leading Computer, Laptop & Gaming PC Retail & Online Shop in
          Bangladesh
        </h1>
        <p>
          Technology has become a part of our daily lives and for a huge portion
          of our life, we depend on tech products daily. There is hardly a home
          in Bangladesh without a tech product. This is where we come in.
          Digihaat started as a Tech Product Shop way back in March 2007. We
          focused on giving the customers the best service possible. This is why
          Star Tech is one of The most trusted names in the tech industry of
          Bangladesh today. After a long 15-year journey; Digihaat. was
          certified with the renowned "ISO 9001:2015 certification" as a
          recognition for the best Quality Control Management System. As an "ISO
          9001:2015 certified" organization; Digihaat. is now up to the
          international standards that specify a Quality Management System
          (QMS). This Certification denotes that this organization consistently
          maintains all sorts of regulatory requirements to provide products and
          services for meeting all sorts of customer requirements.
        </p>
      </div>
      <div class="content-box">
        <h1>Best Desktop PC Shop In Bangladesh</h1>
        <p>
          Technology has become a part of our daily lives and for a huge portion
          of our life, we depend on tech products daily. There is hardly a home
          in Bangladesh without a tech product. This is where we come in.
          Digihaat started as a Tech Product Shop way back in March 2007. We
          focused on giving the customers the best service possible. This is why
          Star Tech is one of The most trusted names in the tech industry of
          Bangladesh today. After a long 15-year journey; Digihaat. was
          certified with the renowned "ISO 9001:2015 certification" as a
          recognition for the best Quality Control Management System. As an "ISO
          9001:2015 certified" organization; Digihaat. is now up to the
          international standards that specify a Quality Management System
          (QMS). This Certification denotes that this organization consistently
          maintains all sorts of regulatory requirements to provide products and
          services for meeting all sorts of customer requirements.
        </p>
      </div>
      <div class="content-box">
        <h1>Best Laptop Shop in Bangladesh</h1>
        <p>
          Technology has become a part of our daily lives and for a huge portion
          of our life, we depend on tech products daily. There is hardly a home
          in Bangladesh without a tech product. This is where we come in.
          Digihaat started as a Tech Product Shop way back in March 2007. We
          focused on giving the customers the best service possible. This is why
          Star Tech is one of The most trusted names in the tech industry of
          Bangladesh today. After a long 15-year journey; Digihaat. was
          certified with the renowned "ISO 9001:2015 certification" as a
          recognition for the best Quality Control Management System. As an "ISO
          9001:2015 certified" organization; Digihaat. is now up to the
          international standards that specify a Quality Management System
          (QMS). This Certification denotes that this organization consistently
          maintains all sorts of regulatory requirements to provide products and
          services for meeting all sorts of customer requirements.
        </p>
      </div>
      <div class="content-box">
        <h1>Best Gaming PC Shop In Bangladesh</h1>
        <p>
          Technology has become a part of our daily lives and for a huge portion
          of our life, we depend on tech products daily. There is hardly a home
          in Bangladesh without a tech product. This is where we come in.
          Digihaat started as a Tech Product Shop way back in March 2007. We
          focused on giving the customers the best service possible. This is why
          Star Tech is one of The most trusted names in the tech industry of
          Bangladesh today. After a long 15-year journey; Digihaat. was
          certified with the renowned "ISO 9001:2015 certification" as a
          recognition for the best Quality Control Management System. As an "ISO
          9001:2015 certified" organization; Digihaat. is now up to the
          international standards that specify a Quality Management System
          (QMS). This Certification denotes that this organization consistently
          maintains all sorts of regulatory requirements to provide products and
          services for meeting all sorts of customer requirements.
        </p>
      </div>
    </div>
  </section>
  <!-- Footer Content End -->
  <section>
    <div class="footer-contact">
      <div class="content-area">
        <div class="box-1">
          <a href="#"
            ><img src="../../../assets/haatlogo.png" alt="brand" class="logo"
          /></a>
          <p>Got Questions ? Call us 24/7!</p>
          <h2>09613-011111</h2>
          <div class="address">
            <h3>Contact Info</h3>
            <p>
              Shop#334, Level#03, Lift#03, 69-71, New Elephant Road 1205 Dhaka,
              Dhaka Division, Bangladesh
            </p>
          </div>
          <div class="social-icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            <a href=""><i class="fa-brands fa-paypal"></i></a>
          </div>
        </div>
        <div class="box-2">
          <div class="box">
            <h2>Find It Fast</h2>
            <div class="link-item">
              <a href="">Security Surveillance</a>
              <a href="">AC & Home Appliance</a>
              <a href="">TV & Speaker</a>
              <a href=""> Home & Audio</a>
              <a href="">Entertainment</a>
              <a href="">Smart Phone & Tablets</a>
            </div>
          </div>
          <div class="box">
            <h2>Quick Links</h2>
            <div class="link-item">
              <a href=""> All categories</a>
              <a href="">About</a>
              <a href="">Contact</a>
              <a href=""> Wishlist</a>
              <a href="">Compare</a>
            </div>
          </div>
          <div class="box">
            <h2>Customer Care</h2>
            <div class="link-item">
              <a href="">My Account</a>
              <a href="">Track your Order</a>
              <a href="">Returns/Exchange</a>
              <a href=""> FAQ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<div class="footer-bottom">
  <p>© 2019-2023 <span>digihaat.com.bd</span> - All Rights Reserved</p>
  <div class="payment">
    <a href=""><i class="fa-brands fa-cc-mastercard"></i></a>
    <a href=""><i class="fa-brands fa-paypal"></i></a>
    <a href=""><i class="fa-brands fa-cc-visa"></i></a>
  </div>
</div>

<!-- <footer>
  <p class="text-center"> &copy; All Copyrights Reserved {{date.getFullYear()}} </p>
</footer> -->
